body {
    background: linear-gradient(to left, #0099F7 , #F11712);
    text-align: center;
    transform: scale(.7);
}
input {
  padding: 30px;
  border-radius: 60px;
  position: relative;
  display: inline;
  margin: 30px;
  font-size: 250%;
  border-style: groove;
  border-width: 50px;
}
input:hover {
  border: solid 4px #707070;
  box-shadow: 0 0 5px 1px #969696;
  border-radius: 40px;
  margin: 30px;
  font-size: 250%;
  border-style: groove;
  border-width: 50px;
}
 #submit {
   border: solid 5px #969696;
   padding: 10px;
   border-radius: 40px;
   margin: 30px;
   font-size: 250%;
   border-style: groove;
   border-width: 50px;
   font-size: 200%;
 }
#submit:hover {
  border: solid 4px #707070;
  box-shadow: 0 0 5px 1px #969696;
  border-radius: 40px;
  margin: 30px;
  font-size: 250%;
  border-style: groove;
  border-width: 50px;
}
table {
  background: linear-gradient(to left, #F11712 , #0099F7);
  position: relative;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
  font-size: 250%;
  border-radius: 5%;
  border-style: solid;
  border-style: groove;
  border-width: 50px;
}
h1 {
  border: solid 4px #707070;
  box-shadow: 0 0 5px 1px #969696;
  border-radius: 50%;
  margin: 30px;
  border-style: groove;
  border-width: 50px;
  font-size: 300%;
}
